__pycache__/
.DS_Store

results/
checkpoints/
__pycache__/
bin/
lib/
lib64/
share/
include/
local/

dataset/extended/

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

logs/

*.log
*.log.*

myTransformer.code-workspace